{% extends '@theme/Template/global.html.twig' %}

{% set lcddSearchUnsetPages = ['Home','search'] %}
{% set lcddBreadcrumbUnsetPages = ['Home','search', 'dwl_lcdd_get_question'] %}
{% set lcddBreadcrumbSetPages = [] %}

{% block bodyClass %} base{% endblock %}

{% block sonata_page_top_bar %}
{% include "@theme/Block/_facebook_sdk.html.twig" %}
{#% include "SonataSeoBundle:Block:_google_plus_sdk.html.twig" %#}
{{ parent() }}
{% endblock %}

{% block sonata_page_container %}
<nav class="navbar navbar-lcdd">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lcdd-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('page_slug', { 'path': '/' }) }}">
                <img src="/themes/lcdd/media/images/icon-full.png" height="40px" alt="logo de la chaine du droit" class="visible-xs visible-sm">
                <img src="/themes/lcdd/media/images/logo-header.png" alt="logo de la chaine du droit" class="visible-md visible-lg">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="lcdd-navbar-collapse">
            {{ sonata_page_render_container('header_connexion', 'global') }}
            {{ sonata_page_render_container('header_menu', 'global') }}
            {% if page.name not in lcddSearchUnsetPages %}
            {{ sonata_page_render_container('header_search', 'global') }}
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row content">

{% block sonata_page_breadcrumb %}
    {% if page.name in lcddBreadcrumbSetPages %}
    <div>
        {% if sonata_seo_context is not defined %}
                {% set sonata_seo_context = 'homepage' %}
        {% endif %}
        {{ sonata_block_render_event('breadcrumb', { 'context': sonata_seo_context, 'current_uri': app.request.requestUri }) }}
    </div>
    {% endif %}
{% endblock %}

{% block page_content_top %}
    {% if page is defined %}
    <div>
        {% if page.name != 'Home' %}
                {{ sonata_page_render_container('content_top', 'global') }}
        {% endif %}
        {{ sonata_page_render_container('content_top', page) }}
    </div>
    {% endif %}
{% endblock %}

        <div>
{% block page_content_search %}

        {% if page is defined %}
        <div class="text-center">
            {% if page.name != 'Home'%}
                {{ sonata_page_render_container('content_search', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('content_search', page) }}
        </div>
        {% endif %}

{% endblock %}

{% block page_content %}
    <div class="body-content">
    {% if content is defined %}
        {{ content|raw }}
    {% else %}
        {% set content = block('content') %}
        {% if content|length > 0 %}
        {{ content|raw }}
        {% elseif page is defined %}
        {{ sonata_page_render_container('content', page) }}
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
        </div>

{% block page_content_bottom %}
    {% if page is defined %}
        <div>
            {{ sonata_page_render_container('content_bottom', page) }}
        {% if page.name != 'Home'%}
            {{ sonata_page_render_container('content_bottom', 'global') }}
        {% endif %}
        </div>
    {% endif %}
{% endblock %}

</div>
{% endblock %}
