<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {% include '@theme/Template/Head/favicon.html.twig' %}
        {% include '@theme/Template/Head/stylesheets.html.twig' %}
        {% include '@theme/Template/Head/javascripts.html.twig' %}
    </head>

    {%- if 'dwl_lcdd_get_' in page.name %}
        {% set pageClass = page.name | replace({'dwl_lcdd_get_':''}) %}
    {% elseif 'fos_user_' in page.name %}
        {% set pageClass = page.name | replace({'fos_user_':''}) %}
    {% elseif 'lcdd_speaker' in page.name %}
        {% set pageClass = page.name | replace({'lcdd_':''}) %}
    {% else %}
        {% set pageClass = '' %}
    {% endif -%}
    <body class="{{ theme.name }} {{ pageClass | default('npc') }} container-fluid{% block bodyClass %} global{% endblock %}">
        <!--[if lt IE 9]>
            <p class="row browserupgrade">Vous utilisez un navigateur <strong>obsol&egrave;te</strong>. Merci de le <a href="http://browsehappy.com/">mettre-&agrave;-jour</a> afin d'am&eacute;liorer votre experience.</p>
        <![endif]-->

        {% include "@theme/Template/Block/separator.html.twig" with { bname: 'sonata_page_top_bar' } %}{% block sonata_page_top_bar %}

            {% if sonata_page.isEditor or ( app.user and is_granted('ROLE_PREVIOUS_ADMIN') ) %}

        {%- include '@theme/Template/Header/inline_edition.html.twig' %}

        <header class="row navbar navbar-admin" role="banner" {% include '@theme/Template/Header/inline_edition.html.twig' with { 'part' : 'attribut' } %}>
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exim-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="exim-navbar-collapse">
                    <ul class="nav navbar-nav text-center">
                        {% include '@theme/Template/Header/admin.html.twig' %}
                        {% include '@theme/Template/Header/edition.html.twig' %}
                        {% include '@theme/Template/Header/switch.html.twig' %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </header>

            {% endif %}
        {% endblock %}{% include "@theme/Template/Block/separator.html.twig" %}

        {% include "@theme/Template/Block/separator.html.twig" with { bname: 'sonata_page_container' } %}{% block sonata_page_container %}
        {% endblock %}{% include "@theme/Template/Block/separator.html.twig" %}

        <footer class="row text-center">
            {% include "@theme/Template/Block/separator.html.twig" with { bname: 'footer' } %}{% block footer %}
            {{ sonata_page_render_container('footer', 'global') }}
            {% endblock %}{% include "@theme/Template/Block/separator.html.twig" %}

        </footer>

        {% include "@theme/Template/Block/separator.html.twig" with { bname: 'sonata_page_asset_footer' } %}{% block sonata_page_asset_footer %}

        {% include '@theme/Template/Footer/javascripts.html.twig' %}

        {% endblock %}{% include "@theme/Template/Block/separator.html.twig" %}
        {% include "@theme/Template/Block/separator.html.twig" with { bname: 'exim_page_asset_footer' } %}{% block exim_page_asset_footer %}
        {% endblock %}{% include "@theme/Template/Block/separator.html.twig" %}
        {% include "@theme/Template/Block/separator.html.twig" with { bname: 'exim_page_scripts' } %}{% block exim_page_scripts '' %}{% include "@theme/Template/Block/separator.html.twig" %}

    </body>
</html>
