{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% block sonata_page_html_tag %}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
{% endblock %}

{% block sonata_page_head %}
<head {{ sonata_seo_head_attributes() }}>

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}

    {% include 'SonataPageBundle::base_favicon.html.twig' %}
    {% include 'SonataPageBundle::base_stylesheets.html.twig' %}
    {% include 'SonataPageBundle::base_header_javascripts.html.twig' %}

</head>
{% endblock %}

{%- block sonata_page_body_tag -%}
<body class="sonata-bc">
{%- endblock -%}

{% block sonata_page_top_bar %}
    {% if app.user and is_granted('ROLE_EXIM_ADMIN') -%}
    <!-- exim sonata_page_top_bar -->
    {% endif %}

    {% block page_top_bar %} {# Deprecated block #}
        {%- if app.user and is_granted('ROLE_EXIM_ADMIN') -%}
        <!-- exim page_top_bar -->
        {% endif %}
        {% if sonata_page.isEditor or ( app.user and is_granted('ROLE_PREVIOUS_ADMIN') ) %}

            {%- include 'SonataPageBundle::base_inline_edition.html.twig' %}

    <header class="sonata-bc sonata-page-top-bar navbar navbar-exim" role="banner" {% include 'SonataPageBundle::base_inline_edition.html.twig' with { 'part' : 'attribut' } %}>
        <div class="container">
            <ul class="nav navbar-nav">
                {% include 'SonataPageBundle::base_header_admin.html.twig' %}
                {% include 'SonataPageBundle::base_header_edition.html.twig' %}
                {% include 'SonataPageBundle:base:header_switch.html.twig' %}
            </ul>
        </div>
    </header>

        {% endif %}
        {%- if app.user and is_granted('ROLE_EXIM_ADMIN') -%}
        <!-- /exim-->
{# exim space fix -#}
        {% endif -%}
    {% endblock %}
    {% if app.user and is_granted('ROLE_EXIM_ADMIN') -%}
    <!-- /exim-->
    {%- endif %}
{% endblock %}

{% block sonata_page_container %}
    {% block page_container %}{% endblock %} {# Deprecated block #}
{% endblock %}

{% block sonata_page_asset_footer %}
    {% block page_asset_footer %} {# Deprecated block #}
        {% include 'SonataPageBundle::base_javascripts.html.twig' %}
        {% if page is defined %}
            {% if page.stylesheet is not empty %}
                <style>
                    {{ page.stylesheet|raw }}
                </style>
            {% endif %}
            {% if page.javascript is not empty %}
                <script>
                    {{ page.javascript|raw }}
                </script>
            {% endif %}
        {% endif %}
        {#
            These includes can be done only at this point as all blocks are loaded,
            Limition : this does not work if a global page is loaded from an ESI tag inside a container block
        #}
        {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
        {{ sonata_block_include_javascripts('screen', app.request.basePath) }}
    {% endblock %}
{% endblock %}

</body>
</html>
