{% extends "DwlLcddSearchBundle:Question:base.html.twig" %}

{% block bodyClass %}{{parent()}} question{% endblock %}
{% block contentClass %}{{parent()}} edit{% endblock %}

{% block exim_profile_action %}
    {% if (question.speaker is not null and app.user.username == question.speaker.customer.user.username) or ('ROLE_SUPER_ADMIN' in app.user.roles) == true %}
<ul class="nav navbar-nav text-center">
    <li>
        <a href="javascript:jQuery('[name={{edit_form.vars.name}}]').submit();">
            {{ 'Enregistrer' | trans }}
        </a>
    </li>
        {% if question.slug is defined and question.slug != '' %}
    <li>
        <a href="{{ path('dwl_lcdd_get_question', { 'slug' : question.slug }) }}">
            {{ 'Annuler' | trans }}
        </a>
    </li>
        {% endif %}
</ul>
        {% if delete_form is defined %}
<ul class="nav navbar-nav navbar-right text-center">
    <li>
        {{ form(delete_form) }}
    </li>
</ul>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sonata_profile_form_start %}
{{ form_start(edit_form) }}
{% endblock %}

{% block sonata_profile_form_errors %}
{{ form_errors(edit_form) }}
{% endblock %}

{% block content_embed %}
<div>
    {{ form_row(edit_form.categories) }}
</div>
<div>
    {{ form_row(edit_form.question) }}
</div>
<div>
    {{ form_row(edit_form.speaker) }}
</div>
{% endblock %}

{% block content_video %}
    {{ form_row(edit_form.media) }}
{% endblock %}

{% block sonata_profile_form_end %}
{% set legiSearchIndex = legi.search.index %}
{% set legiSearchFields = ["'DWL.TEXT.TITLE.short'"] %}
{% set legiSearchHighlightsFields = ["'DWL.TEXT.TITLE.short'"] %}
<div class="dwl-article-form">
    <div class="content-embed"
         ng-controller="articleCtrl"
         ng-init="getLegiByIds()"
         eui-index="'{{ legiSearchIndex }}'"
         ng-cloak>
         <div>
         </div>
        <legi-article
            art-eui-select
            class="input-group"
            field="{{ legiSearchFields | join(',') }}"
            highlights="{{ legiSearchHighlightsFields | join(',') }}"
            style="display:none;"
            ></legi-article>
        <ui-select
            multiple
            art-ui-select
            autofocus="false"
            ng-model="uniqueIds"
            theme="bootstrap"
            close-on-select="false"
            on-select="addLegiIds($item, $model)"
            on-remove="removeLegiIds($item, $model)"
            reset-search-input="false"
            title="{[{placeholder}]}"
            style="height:initial;"
            >
            <ui-select-match placeholder="{[{placeholder}]}">
                {[{$item._source.DWL.TEXT.TITLE.code}]} - {[{$item._source.DWL.TEXT.TITLE.short}]}
            </ui-select-match>
            <ui-select-choices repeat="doc in (indexVM.results.hits.hits | orderBy:'_source.DWL.TEXT.num' | filter: $select.search) track by $index">
                <div style="cursor:pointer;" ng-bind-html="doc._source.DWL.TEXT.TITLE.code+': '+doc._source.DWL.TEXT.TITLE.short | highlight: $select.search"></div>
                <small>
                    <a href="{[{doc._source.DWL.URL.REFERRAL.content}]}"
                   target="_blank"
                   title="legifrance"
                   ng-bind-html="doc._source.DWL.TEXT.uniqueid"
                   ></a>
                </small>
            </ui-select-choices>
        </ui-select>
<!--         <ul class="list-inline" ng-repeat="doc in indexVM.results.hits.hits | orderBy:'_source.DWL.TEXT.num'" ng-init="DWL=doc._source.DWL">
            <li>
                <a href="{[{DWL.URL.REFERRAL.content}]}"
                   target="_blank"
                   title="legifrance"
                   id="{[{DWL.TEXT.uniqueid}]}"
                   ng-bind-html="DWL.TEXT.TITLE.code+': '+doc.highlight['DWL.TEXT.TITLE.short'][0]"
                   ></a>
                <br/>
                <!- - tags:<br/> - ->
                <!- - <ul class="list-inline" ng-bind-html="tags | tagsReplace" ng-init="tags=DWL.TEXT.TAGS.content"></ul> - ->
                <!- - {[{DWL|json}]} - ->
                <!- - {[{doc|json}]} - ->
            </li>
        </ul> -->
        {{ form_row(edit_form.legiIds) }}
        {[{ legalTagsSuggest }]}
        {{ form_row(edit_form.legalTags) }}
        {[{ civilTagsSuggest }]}
        {{ form_row(edit_form.civilTags) }}
        {{ form_row(edit_form.unqualifiedQuestions) }}
    </div>
</div>
<div class="content-embed">
    {{ form_row(edit_form.qualified) }}
    {{ form_row(edit_form.submit, { 'attr' : { 'class' : 'btn-link pull-right' } }) }}
    {{ form_end(edit_form) }}
</div>
{% endblock %}

