{% trans_default_domain "DwlLcddSearchBundle" %}
<div class="dwl-search-page col-sm-12"
    ng-controller="searchCtrl"
    ng-init="initSettings('{{ userQuestion }}', '{{ path('dwl_lcdd_search_question', { '_format': 'json' } ) }}');">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-3">
            <h1>{{ 'ps.title' | trans }}</h1>
        </div>
        <div class="col-sm-6">
            <div class="dwl-search-page-search form-group">
                <div class="input-group" >
                    <input type="text" class="dwl-search-page-search-input form-control" placeholder="Poser votre question" ng-model="userQuestion">
                    <span class="input-group-btn" >
                        <button class="btn btn-link" type="button" ng-click="userSearch();"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>{{ 'ps.filter.title' | trans }}</h3>
            <h4>{{ 'Par Catégorie' | trans }}</h4>
            <ul>
{% for c in cs if c.enabled and c.context == 'lcdd' and c.name != 'lcdd' %}
                <li class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="categories['{{c.slug}}']" ng-true-value="true" ng-false-value="false"> {{ c.name }}
                    </label>
                </li>
{% endfor %}
            </ul>
            <h4>{{ 'Par mots-cles' | trans }}</h4>
            <ul>
{% for t in ts if t.enabled and t.context == 'lcdd' %}
                <li class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="tags['{{t.slug}}']" ng-true-value="true" ng-false-value="false"> {{ t.name }}
                    </label>
                </li>
{% endfor %}
            </ul>
        </div>
        <div class="col-sm-9" ng-cloak>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#qualified_question" aria-controls="qualified_question" role="tab" data-toggle="tab" ng-click="setType('qualified');">
                    {{ 'ps.content.tabs.qualified_question' | trans }} ({[{ pagination.qualified.items.length }]})
                </a>
            </li>
            <li role="presentation">
                <a href="#unqualified_question" aria-controls="unqualified_question" role="tab" data-toggle="tab" ng-click="setType('unqualified');">
                    {{ 'ps.content.tabs.unqualified_question' | trans }} ({[{ pagination.unqualified.items.length }]})
                </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="qualified_question">
              <ul class="row list-inline">
                <li class="question question-qualified col-sm-4" ng-repeat="q in pagination.qualified.items=(questions | filter: { qualified: true, question: userQuestion } | filter: filterCategories | filter: filterTags ) | slice:start('qualified'):end('qualified')">
                    {% include 'DwlLcddSearchBundle:Snippet:item_search.html.twig' %}
                </li>
                <li class="col-sm-12" ng-show="!pagination.qualified.items.length">{{ 'Aucune question n existe pour cette selection' | trans   }}</li>
              </ul>
              <ul uib-pagination total-items="pagination.qualified.items.length" ng-model="pagination.qualified.currentPage" items-per-page="pagination.qualified.itemsPerPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="unqualified_question">
              <ul class="row">
                <li class="col-sm-12" ng-repeat="q in pagination.unqualified.items=(questions | filter: { qualified: false, question: userQuestion } | filter: filterUnqualified | filter: filterCategories | filter: filterTags ) | slice:start('unqualified'):end('unqualified')">
                    {% include 'DwlLcddSearchBundle:Snippet:item_search.html.twig' %}
                </li>
                <li class="col-sm-12" ng-show="!pagination.unqualified.items.length">{{ 'Aucune question n existe pour cette selection' | trans   }}</li>
              </ul>
              <ul uib-pagination total-items="pagination.unqualified.items.length" ng-model="pagination.unqualified.currentPage" items-per-page="pagination.unqualified.itemsPerPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
          </div>
        </div>
    </div>
</div>
