{% trans_default_domain "DwlLcddSearchBundle" %}
<ul>
    <li>{{ 'language' }}: {{ language }}</li>
    <li>{{ 'questionString' }}: {{ questionString }}</li>
    <li>{{ 'isQualified' }}: {{ isQualified }}</li>
    <li>{{ 'success' }}: {{ success }}</li>
    <li>{{ 'message' }}: {{ message }}</li>
</ul>
