{% extends "@theme/Template/default.html.twig" %}
{% block exim_page_header_stylesheets %}
    {{ parent() }}
    {% include "CmfCreateBundle::includecssfiles.html.twig" %}
{% endblock %}
{% block page_content %}
<div class="body-content clearfix speaker">

    <h1 class="max-width col-sm-12 text-center">{{ macro.speakerName(speaker.customer.user) }}</h1>

    <div class="max-width col-sm-12">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#a-propos" aria-controls="apropos" role="tab" data-toggle="tab">
                {{ 'Â propos (see description)' | trans }}
            </a>
        </li>
        <li role="presentation">
            <a href="#parcours" aria-controls="parcours" role="tab" data-toggle="tab">
                {{'Parcours' | trans }}
            </a>
        </li>
        <li role="presentation">
            <a href="#specialisations" aria-controls="specialisations" role="tab" data-toggle="tab">
                {{'Spécialisations' | trans }}
            </a>
        </li>
        <li role="presentation">
            <a href="#publications" aria-controls="publications" role="tab" data-toggle="tab">
                {{'Publications' | trans }}
            </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="apropos">
            1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nibh id arcu ullamcorper tristique. Etiam laoreet blandit tellus at malesuada. Phasellus scelerisque luctus massa non bibendum. In eget leo volutpat, placerat enim sed, bibendum arcu. Curabitur sit amet dui in sapien euismod lobortis a vitae massa. Vivamus elit ex, auctor et viverra non, commodo vitae nibh.
        </div>
        <div role="tabpanel" class="tab-pane" id="parcours">
            2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nibh id arcu ullamcorper tristique. Etiam laoreet blandit tellus at malesuada. Phasellus scelerisque luctus massa non bibendum. In eget leo volutpat, placerat enim sed, bibendum arcu. Curabitur sit amet dui in sapien euismod lobortis a vitae massa. Vivamus elit ex, auctor et viverra non, commodo vitae nibh.
        </div>
        <div role="tabpanel" class="tab-pane" id="specialisations">
            3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nibh id arcu ullamcorper tristique. Etiam laoreet blandit tellus at malesuada. Phasellus scelerisque luctus massa non bibendum. In eget leo volutpat, placerat enim sed, bibendum arcu. Curabitur sit amet dui in sapien euismod lobortis a vitae massa. Vivamus elit ex, auctor et viverra non, commodo vitae nibh.
        </div>
        <div role="tabpanel" class="tab-pane" id="publications">
            4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nibh id arcu ullamcorper tristique. Etiam laoreet blandit tellus at malesuada. Phasellus scelerisque luctus massa non bibendum. In eget leo volutpat, placerat enim sed, bibendum arcu. Curabitur sit amet dui in sapien euismod lobortis a vitae massa. Vivamus elit ex, auctor et viverra non, commodo vitae nibh.
        </div>
      </div>

    </div>
        {#% block sonata_profile_menu %}
            {{ sonata_block_render({'type': 'lcdd.speaker.block.menu'}, {'current_uri': app.request.requestUri}) }}
        {% endblock %#}

        {#% include 'SonataCoreBundle:FlashMessage:render.html.twig' %#}
    <div class="no-horizontal-padding col-xs-12 map">
        <div id="map-canvas" style="height:250px;"></div>
    </div>

    <div class="no-horizontal-padding col-xs-12 overview">
        <div class="clearfix">
            <div class="max-width">
                <div class="no-horizontal-padding col-lg-6 presentation">
                    <div class="content-media">
                        <div class="content-embed">
                            <div class="embed-responsive embed-responsive-16by9">
    {% if speaker.presentation %}
                              {{speaker.presentation.providerMetadata.html | raw}}
    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 details">
                    <span class="phone">
                    <img src="{{ speaker.protectedPhone }}" alt="{{'user phone' | trans }}" />
                    </span><br/>
                    <span class="mail">
                        <img src="{{ speaker.protectedEmail }}" alt="{{'user email' | trans }}" />
                    </span><br/>
                    <span class="address">
    {% if speaker.customer.addresses | length %}
        {% for address in speaker.customer.addresses if address.current %}
                        {{address.fullAddress | default('-') }}
        {% endfor %}
    {% else %}
                        -
    {% endif %}
                    </span>
                    <hr/>
                    <ul class="list-inline">
    {% if speaker.customer.user.gplusUid %}
                        <li>
                            <a href="https://plus.google.com/{{speaker.customer.user.gplusUid}}" title="page google" target="_blank">
                                <img src="/themes/lcdd/media/svg/google.svg" width="68px" class="svg"/>
                            </a>
                        </li>
    {% endif %}
    {% if speaker.customer.user.twitterUid %}
                        <li>
                            <a href="https://twitter.com/{{speaker.customer.user.twitterUid}}" title="compte twitter" target="_blank">
                                <img src="/themes/lcdd/media/svg/twitter.svg" width="68px" class="svg"/>
                            </a>
                        </li>
    {% endif %}
    {% if speaker.customer.user.facebookUid %}
                        <li>
                            <a href="https://www.facebook.com/{{speaker.customer.user.facebookUid}}" title="page facebook" target="_blank">
                                <img src="/themes/lcdd/media/svg/facebook.svg" width="68px" class="svg"/>
                            </a>
                        </li>
    {% endif %}
    {% if speaker.customer.user.youtubeUid %}
                        <li>
                            <a href="https://www.youtube.com/user/{{speaker.customer.user.youtubeUid}}" title="chaine youtube" target="_blank">
                                <img src="/themes/lcdd/media/svg/youtube.svg" width="68px" class="svg"/>
                            </a>
                        </li>
    {% endif %}
    {% if speaker.customer.user.linkedinUid %}
                        <li>
                            <a href="https://www.linkedin.com/in/{{speaker.customer.user.linkedinUid}}" title="page linkedin" target="_blank">
                                <img src="/themes/lcdd/media/svg/linkedin.svg" width="68px" class="svg"/>
                            </a>
                        </li>
    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="max-width col-xs-12">
        {#% block sonata_profile_content '' %#}

        <div class="sub-header">

            <h2>{{'Ses vidéos' | trans }}</h2>
            <hr class="subheader"/>

        </div>

    </div>

</div>
{% endblock %}

{% block exim_page_footer_vendor_javascripts %}
{{ parent() }}
{% render(controller("cmf_create.jsloader.controller:includeJSFilesAction")) %}
{% endblock %}

{% block exim_page_scripts %}
    {% set gmapapikey = 'AIzaSyAbE9d8X2BvRbO3E_8tt9n84ewVejztclQ' %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{gmapapikey}}&libraries=places" type="text/javascript"></script>
    <script src="{{ asset('bundles/dwleximcore/vendor/google/maps/js/markers.js') }}?v={{theme.assets.version.img}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/dwleximcore/vendor/google/maps/js/styles.js') }}?v={{theme.assets.version.img}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/dwleximcore/vendor/google/maps/js/script.js') }}?v={{theme.assets.version.img}}" type="text/javascript"></script>
{% endblock %}
