{% if app.user and is_granted('ROLE_EXIM_ADMIN') %}
            {% if sonata_page.isEditor %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Page <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                {% if page is defined %}
                        <li>
                            <a href="{{ sonata_admin.objectUrl('sonata.page.admin.page', 'edit', page) }}" target="_new">
                                {{ "header.edit_page"|trans({}, 'SonataPageBundle') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ sonata_admin.objectUrl('sonata.page.admin.page|sonata.page.admin.snapshot', 'list', page) }}" target="_new">
                                {{ "header.create_snapshot"|trans({}, 'SonataPageBundle') }}
                            </a>
                        </li>
                        <li class="divider"></li>
                {% endif %}

                        <li>
                            <a href="{{ sonata_admin.url('sonata.page.admin.page', 'list') }}" target="_new">
                                {{ "header.view_all_pages"|trans({}, 'SonataPageBundle') }}
                            </a>
                        </li>

                        {% if error_codes is defined and error_codes|length %}
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('sonata_page_exceptions_list') }}" target="_new">
                                    {{ "header.view_all_exceptions"|trans({}, 'SonataPageBundle') }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                {% if page is defined %}
                    <li>
                        <a href="{{ sonata_admin.url('sonata.page.admin.page', 'compose', {'id': page.id}) }}">
                            <i class="fa fa-magic"></i>
                            {{ 'header.compose_page'|trans({}, 'SonataPageBundle')}}
                        </a>
                    </li>
                {% endif %}

                {% if page is defined and not page.enabled %}
                    <li>
                        <span style="padding-left: 20px; background: red;">
                            <strong>
                                <em>{{ 'header.page_is_disabled'|trans([], 'SonataPageBundle') }}</em>
                            </strong>
                        </span>
                    </li>
                {% endif %}

                {% if sonata_page.isInlineEditionOn and page is defined %}
                    <li>
                        <form class="form-inline" style="margin: 0px">
                            <label class="checkbox inline" for="page-action-enabled-edit"><input type="checkbox" id="page-action-enabled-edit">{{ 'header.show_zone'|trans({}, 'SonataPageBundle') }}</label>
                            <input type="submit" class="btn" value="{{ 'btn_save_position'|trans({}, 'SonataPageBundle') }}" id="page-action-save-position">
                        </form>
                    </li>
                {% endif %}
            {% endif %}
                {% include "DwlEximCoreBundle:Refresh:refreshNavElements.html.twig" %}
                <li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </li>
{% endif %}
