{% set lcddSearchFields = ["'_all'"] %}
{#
{% set lcddSearchFields = ["'ARTICLE.CONTEXTE.TEXTE.TITRE_TXT.$t'"] %}
{% set lcddSearchFields = lcddSearchFields | merge(["'ARTICLE.CONTEXTE.TEXTE.TM.TITRE_TM.$t'"]) %}


              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TITRE_TM.$t'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TITRE_TM.$t'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TITRE_TM.$t'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TITRE_TM.$t'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TM.TITRE_TM.$t'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TM.TM.TITRE_TM.$t'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TM.TM.TM.TITRE_TM.$t'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TM.TM.TM.TM.TITRE_TM.$t'
              'ARTICLE.CONTEXTE.TEXTE.@nature'
              'ARTICLE.META.META_COMMUN.NATURE.$t'
              'ARTICLE.META.META_SPEC.META_ARTICLE.NUM.$t'
              'ARTICLE.BLOC_TEXTUEL.CONTENU.$t'
              'ARTICLE.BLOC_TEXTUEL.CONTENU.p'
              'ARTICLE.BLOC_TEXTUEL.CONTENU.p.$t'
              'ARTICLE.BLOC_TEXTUEL.CONTENU.div.$t'
              'ARTICLE.BLOC_TEXTUEL.CONTENU.div.p'
              'ARTICLE.BLOC_TEXTUEL.CONTENU.table.tbody.tr'

              'ARTICLE.META.META_COMMUN.ID.$t'
              '_score'
              'ARTICLE.CONTEXTE.TEXTE.@cid'

              'ARTICLE.META.META_SPEC.META_ARTICLE.DATE_DEBUT.$t'
              'ARTICLE.META.META_SPEC.META_ARTICLE.DATE_FIN.$t'
              'ARTICLE.BLOC_TEXTUEL.CONTENU.br'
              'ARTICLE.NOTA.CONTENU.$t'
              'ARTICLE.NOTA.CONTENU.p.$t'
              'ARTICLE.META.META_SPEC.META_ARTICLE.ETAT.$t'
              'ARTICLE.CONTEXTE.TEXTE.TM.TITRE_TM.@id'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TITRE_TM.@id'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TITRE_TM.@id'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TITRE_TM.@id'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TITRE_TM.@id'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TM.TITRE_TM.@id'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TM.TM.TITRE_TM.@id'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TM.TM.TM.TITRE_TM.@id'
              'ARTICLE.CONTEXTE.TEXTE.TM.TM.TM.TM.TM.TM.TM.TM.TM.TITRE_TM.@id'
#}
{% extends sonata_block.templates.block_base %}

{% block block %}
<div class="dwl-search-block">
    <div class="dwl-search-block-search-hero-text col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
    {% if settings.title %}
        <h2 class="dwl-search-block-search-title">{{ settings.title }}</h2>
        {% if settings.sub_title %}
        <h3 class="dwl-search-block-search-sub_title">{{ settings.sub_title }}</h3>
        {% endif %}
    {% endif %}
    </div>
    <div class="dwl-search-block-media-container">
    {% if media and settings.format %}
        {% media media, settings.format with { 'class': 'img-responsive ' ~ settings.class, 'width': '100%', 'height': '' } %}
        <div class="shadow"></div>
    {% else %}
        {# no media selected or format defined... #}
    {% endif %}
    </div>
    <div id="dwl-search-block-search-home-form"
         class="dwl-search-block-search-hero-form col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6"
         ng-controller="formCtrl"
         eui-index="'legi'" ng-cloack>
        <form class="dwl-search-block-search-form form-inline">
          <div class="form-group" ng-mouseleave="hide()" ng-mouseenter="show()">
              <lcdd-search class="input-group" field="{{ lcddSearchFields | join(',') }}"></lcdd-search>
              <div class="dwl-search-block-results panel-group" id="dwl-search-block-results-accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default" ng-repeat="doc in indexVM.results.hits.hits" ng-init="dictum=doc._source.ARTICLE">
                    {% include 'DwlLcddSearchBundle:Block:block_result.html.twig' %}
                  </div>
              </div>
          </div>
        </form>
        {% form_theme questionForm 'bootstrap_3_layout.html.twig' %}
        <form ng-if="true || (!indexVM.loading && indexVM.query.query().length && !indexVM.results.hits.hits.length)"
            class="dwl-search-block-question-form"
            name="{{ questionForm.vars.full_name }}" target="_blank"
            action="{{ path('dwl_lcdd_search_question_submit') }}" method="POST" {{ form_enctype(questionForm) }}>
            {{ form_widget(questionForm) }}
        </form>
    </div>
    <script type="text/javascript">
      var lcdd = {};
      lcdd['elastic'] = {};
      lcdd['elastic']['request'] = '{{ lcdd.elastic.request }}';
      lcdd['elastic']['index'] = '{{ lcdd.elastic.index }}';
      lcdd['form'] = {};
      lcdd['form']['name'] = '{{ questionForm.vars.full_name }}';
    </script>
</div>
{% endblock %}
